<!-- templates/dashboard.html -->
{% extends 'base.html' %}
{% block content %}

<h2 class="text-2xl font-bold mb-4">Dashboard</h2>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4">

    <div class="bg-white p-4 rounded shadow">
        <h3>Total Tasks</h3>
        <p class="text-2xl">{{ total_tasks }}</p>
    </div>

    <div class="bg-white p-4 rounded shadow">
        <h3>Completed</h3>
        <p class="text-2xl">{{ completed }}</p>
    </div>

    <div class="bg-white p-4 rounded shadow">
        <h3>Wallet Balance</h3>
        <p class="text-2xl text-green-600">Rs. {{ balance }}</p>
    </div>

</div>

{% endblock %}